.upload__container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.MuiAlert-message.css-1pxa9xg-MuiAlert-message{
    text-align: left !important;   
}
